<div class="container">
  <h2>Create a new Event</h2>
  <form action="/events/new" method="POST"><br>
    Event Name: <input type="text" name="event_name"><br>
    Location: <input type="text" name="location"><br>
    Starts At: <input type="text" name="start_time"><br>
    Ends At: <input type="text" name="end_time"><br>
    <input type="submit" value="Create Event">
  </form>

</div>
